[user]
	name = Kássio Borges
  email = kassioborgesm@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = `which vim`
[help]
  format = web
  browser = GC
  autocorrect = 1
[browser "GC"]
  cmd = open
[push]
  default = current
[color]
  branch = 1
  diff = 1
  interactive = 1
  status = 1
  grep = 1
  ui = 1
  pager = 1
[color "decorate"]
  branch = 1
[mergetool]
  tool = opendiff
[difftool]
  tool = opendiff
  prompt = false
[alias]
  b = branch
  ci = commit
  co = checkout
  st = status
  s = status -sb
  l = log --oneline --decorate=full
  today = log --stat --since=1.day --graph --pretty=oneline --abbrev-commit --date=relative
  tl = log --pretty=format:'%Cred%h%Creset - %C(yellow)%an%Cgreen(%cr)%Creset %s%Creset - %Cblue%d%Creset'
  tree = log --pretty=format:'%Cred%h%Creset - %C(yellow)%an%Cgreen(%cr)%Creset - %s%Creset' --graph
# Github
[url "git://github.com/"]# Read-only
  insteadOf = gh:
[url "git@github.com:"]# With write access
  insteadOf = wgh:
