[user]
	name = Kássio Borges de Melo
	email = kassioborgesm@gmail.com

[core]
	excludesfile = ~/.gitignore
	editor = vim
[help]
	format = web
	browser = gc
	autocorrect = 1
[browser "gc"]
	cmd = open -a Google-chrome %s
[push]
	default = current
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = auto
	ui = auto
	pager = 1
[color "decorate"]
	branch = 1
[difftool]
	tool = vimdiff
	prompt = false
