snippet feature_category
	feature_category: :${1|pages,wiki,team_planning,portfolio_management|}
snippet include_strong_memoize
	include Gitlab::Utils::StrongMemoize
snippet strong_memoize_attr
	strong_memoize_attr :${1}
snippet include_override
	extend ::Gitlab::Utils::Override
snippet override
	override :${1}
