snippet #!
	#!/usr/bin/env ${1|zsh,ruby,bash|}

snippet vim
	# vim:${1:ft=${2:zsh}}:

snippet hri
  "--------------------------------------------------------------------------------"

snippet path
  ${1:`!lua require('utils.snippets').expand('%:.:h')`}${2}
snippet full_path
  ${1:`!lua require('utils.snippets').expand('%:p:h')`}${2}
snippet fname
  ${1:`!lua require('utils.snippets').filename()`}${2}
snippet fname_camelcase
  ${1:`!lua require('utils.snippets').filename('camelcase')`}${2}
